.card{
    box-shadow: 0px 3px 3px -2px black;
    border-width: 1px;
    border-color: black;
}

.dashboardFooter {
  margin: auto;
  box-shadow: 0px 3px 4px -2px black;
  width: 100%;
}

.htmlButton {
  border: none;
  outline: none;
  color: black !important;
  margin: 0 10px 0 10px;
}

.htmlButton:hover {
  cursor: pointer;
  color: #65a8c5 !important;
}

.htmlButton:focus {
  outline: 0;
}