.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 90vw;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    top: 15px;
    box-sizing: border-box;
    /* transition: all 0.3s ease-out; */
    animation: zoomIn .4s;
    overflow: scroll;
    height: 90vh;
}

/* @media (min-width: 600px) {
    .Modal {
        width: 60vw;
        left: calc(50% - 30vw);
    }
} */

@keyframes zoomIn {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}
.modalHeader{
  background-color: rgba(0, 0, 0, .3);
  border-width: 1px;
  color: white;
  margin-bottom: 5px;
  border-radius: 2px; 
  height: 3em;
  line-height: 3em;
  padding: 3px;
}
.modalTitle p{
  text-align: center;
  margin-left:10px;
}
a.btn{
  padding: 4px;
}