<!DOCTYPE html>
		<html lang="en">
			<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<meta name="theme-color" content="#000000">   
			<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
			<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">    
		
			<title>Kui Eugenio Resume</title>
			</head>
		
			<body>
			<div class="container-fluid border border-dark">
				<div class="jumbotron align-content-center" style="background-color:rgba(255, 255, 255, 0); height:2.5in">
				<div class="text-center border border-dark">Kui undefined Eugenio</div>
				<div class="text-center">
					<p>I love tacos</p>
				</div>
				<div class="image text-center">
					<div class="img">img</div>
				</div>
				</div>
		
				<div class="container bg-info" style="height:8.5in">
					<div class="row align-items-top h-100">
					<div class="col text-right">
							<div class="experience">
							<h3>Experience</h3>
							<<div class="experience-block" v-for="experience in contact.experience" :key="experience.company">>
								<div class="company"> <div class="col-lg-6 ">
				<p>
					<t>Assistant manager</t>
					<br/>Jack in the Box
					<br/>
				</p>
				<p>
					<more>fried fries
					</more>
				</p>
			</div>
			<div class="col-lg-3">
				<p>
					<sm>2017-02 - 2017-05</sm>
				</p>
			</div><div class="col-lg-6 col-lg-offset-3">
				<p>
					<t>Lead Roaster</t>
					<br/>Starbucks
					<br/>
				</p>
				<p>
					<more>roasted Coffee
					</more>
				</p>
			</div>
			<div class="col-lg-3">
				<p>
					<sm>2015-09 - 2016-01</sm>
				</p>
			</div></div>
							</div>
							</div>
							<div class="contact">
							<h3>Contact</h3>
							<table class="table-sm border-0">
								<tr>
								<td><i class="fa fa-envelope" aria-hidden="true"></i></td>
								<td><a href="'mailto:'+contact.contact.email">kui_eugenio@hotmail.com</a></td>
								</tr>
								<tr>
								<td><i class="fa fa-phone" aria-hidden="true"></i></td>
								<td><a href="'tel:'+contact.contact.phone">949-307-8627</a></td>
								</tr>
								<tr>
								<td><i class="fa fa-home" aria-hidden="true"></i></td>
								<td>8144 E Mulberry St
Scottsdale, AZ 85251<br> undefined</td>
								</tr>
								<tr v-if="contact.contact.website">
								<td><i class="fa fa-globe" aria-hidden="true"></i></td>
								<td><a href="contact.contact.website">undefined</a></td>
								</tr>
								<tr v-if="contact.contact.github">
								<td><i class="fa fa-github" aria-hidden="true"></i></td>
								<td><a href="https://github.com/'+keugenio.github.com">https://github.com/keugenio.github.com</a></td>
								</tr>
							</table>
							</div>
					</div>
					<div class="col text-right align-items-center">
							<div class="education">
							<h3>Education</h3>
								<div class="degree"><div class="col-lg-6 ">
            <p>
              <t>Web Development</t>
              <br/>University of Arizona
              <br/>
            </p>
          </div>
          <div class="col-lg-3">
            <p>
					    <sm>2017-10 - 2017-11</sm>
              <br/>
            </p>
          </div><div class="col-lg-6 col-lg-offset-3">
            <p>
              <t>Code Monkey</t>
              <br/>Arizona State University
              <br/>
            </p>
          </div>
          <div class="col-lg-3">
            <p>
					    <sm>2017-10 - 2018-01</sm>
              <br/>
            </p>
          </div></div>
							</div>
							<h3>Skills</h3>
							<div class="skills">
								<div style="width:100%" class="d-flex flex-row">
									<div class="col-lg-3 centered " >
					<canvas id=I eat tacos height="130" width="130"></canvas>
					<p>I eat tacos</p>
					<br>
					<script>
						var doughnutData = [{
								value: 100,
								color: "#1abc9c"
							},
							{
								value: 0,
								color: "#ecf0f1"
							}
						];
						var myDoughnut = new Chart(document.getElementById("I eat tacos").getContext("2d")).Doughnut(doughnutData);
					</script>
				</div><div class="col-lg-3 centered " >
					<canvas id=I eat tater tots height="130" width="130"></canvas>
					<p>I eat tater tots</p>
					<br>
					<script>
						var doughnutData = [{
								value: 100,
								color: "#1abc9c"
							},
							{
								value: 0,
								color: "#ecf0f1"
							}
						];
						var myDoughnut = new Chart(document.getElementById("I eat tater tots").getContext("2d")).Doughnut(doughnutData);
					</script>
				</div><div class="col-lg-3 centered " >
					<canvas id=I eat ribs height="130" width="130"></canvas>
					<p>I eat ribs</p>
					<br>
					<script>
						var doughnutData = [{
								value: 100,
								color: "#1abc9c"
							},
							{
								value: 0,
								color: "#ecf0f1"
							}
						];
						var myDoughnut = new Chart(document.getElementById("I eat ribs").getContext("2d")).Doughnut(doughnutData);
					</script>
				</div><div class="col-lg-3 centered col-lg-offset-3" >
					<canvas id=can sing the National Anthem upside down height="130" width="130"></canvas>
					<p>can sing the National Anthem upside down</p>
					<br>
					<script>
						var doughnutData = [{
								value: 100,
								color: "#1abc9c"
							},
							{
								value: 0,
								color: "#ecf0f1"
							}
						];
						var myDoughnut = new Chart(document.getElementById("can sing the National Anthem upside down").getContext("2d")).Doughnut(doughnutData);
					</script>
				</div><div class="col-lg-3 centered " >
					<canvas id=coding fool height="130" width="130"></canvas>
					<p>coding fool</p>
					<br>
					<script>
						var doughnutData = [{
								value: 100,
								color: "#1abc9c"
							},
							{
								value: 0,
								color: "#ecf0f1"
							}
						];
						var myDoughnut = new Chart(document.getElementById("coding fool").getContext("2d")).Doughnut(doughnutData);
					</script>
				</div><div class="col-lg-3 centered " >
					<canvas id=dog walking height="130" width="130"></canvas>
					<p>dog walking</p>
					<br>
					<script>
						var doughnutData = [{
								value: 100,
								color: "#1abc9c"
							},
							{
								value: 0,
								color: "#ecf0f1"
							}
						];
						var myDoughnut = new Chart(document.getElementById("dog walking").getContext("2d")).Doughnut(doughnutData);
					</script>
				</div><div class="col-lg-3 centered " >
					<canvas id=pick winning scratchers height="130" width="130"></canvas>
					<p>pick winning scratchers</p>
					<br>
					<script>
						var doughnutData = [{
								value: 100,
								color: "#1abc9c"
							},
							{
								value: 0,
								color: "#ecf0f1"
							}
						];
						var myDoughnut = new Chart(document.getElementById("pick winning scratchers").getContext("2d")).Doughnut(doughnutData);
					</script>
				</div><div class="col-lg-3 centered " >
					<canvas id=lose the powerball height="130" width="130"></canvas>
					<p>lose the powerball</p>
					<br>
					<script>
						var doughnutData = [{
								value: 100,
								color: "#1abc9c"
							},
							{
								value: 0,
								color: "#ecf0f1"
							}
						];
						var myDoughnut = new Chart(document.getElementById("lose the powerball").getContext("2d")).Doughnut(doughnutData);
					</script>
				</div>
									<label for="slider-range-min">{{skillName}}</label>
									<div class="slider w-100"></div>                     
								</div>
							</div>
					</div>
					</div>
			</div>
			</div>
			</body>
		
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script><script src="assets/bootstrap/js/bootstrap.min.js"></script>
			<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
			<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
			<script>
				$( function() {
				$( ".slider" ).slider({
					range: "min",
					value: 10,
					min: 1,
					max: 10,
				});
				} );
			</script>
		</html>
		
		<style>
			body{
			height: 11in;
			width: 8.5in;
			margin: auto;
			}
		
			.slider {
			-webkit-appearance: none;
			width: 100%;
			height: 15px;
			border-radius: 5px;   
			background: #d3d3d3;
			outline: none;
			opacity: 0.7;
			-webkit-transition: .2s;
			transition: opacity .2s;
			}
		
			.slider::-webkit-slider-thumb {
				-webkit-appearance: none;
				appearance: none;
				width: 25px;
				height: 25px;
				border-radius: 50%; 
				background: #4CAF50;
				cursor: pointer;
			}
			
			.slider::-moz-range-thumb {
				width: 25px;
				height: 25px;
				border-radius: 50%;
				background: #4CAF50;
				cursor: pointer;
			}
		</style>