#container {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#background-video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: -1;
}

#background-video > video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#buttons {
    position: absolute;
    top: 75vh;
    width: 100%;
    padding: 10px;
}

#buttons Link {
    font-size: 1.5rem;
    padding: 10px;
    margin-top: 10px;
}

#jumbo {
    margin-top: 15vh;
    display: inline-block;
}

#jumbo p {
    color: rgb(255, 255, 255);
    margin-top:50px;
    margin-left: 0;
    width: 100vw;
    font-size: 2em;
    text-shadow: 2px 2px 3px rgba(70, 70, 70, 0.63)    
}

#logo-Lg {
    visibility: visible;
}

#logo-Sm {
    visibility: hidden;
    height: 100px;
}

#info {
    width: 100%;
    background: white;
}

#spacer{
    bottom:-1px;
    height:25px;
    position: absolute;
    width: 100vw;
}

#spacer img {
    width: 100%;
 }

 .btn-landingPage{
     font-size: 1.5em;
     color: white;
     text-shadow: 2px 2px 3px rgba(70, 70, 70, 0.63)
 }
.moreInfo-title{
    font-size: 30px;
    font-weight: bold;
    margin-top:100px;
    font-family: 'Ubuntu', sans-serif;

}

.moreInfo-item{
    font-size: 24px;
    margin-top: 50px;
    font-weight: lighter;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 40px;
}


@media screen and (max-width: 500px) {
    #logo-Lg {
        visibility: hidden;
    }
    #logo-Sm {
        visibility: visible;
    }
    #jumbo p {
        width: 85vw;
    }
}


@media screen and (max-width: 800px) {
    #buttons Link {
        font-size: 1rem;
    }
}