#hero-lg {
  height: 50vh;
  text-align: center;
  padding-top: 200px;
}

#hero-sm {
  height: 25vh;
  text-align: center;
}

.center {
  text-align: center;
}

.card {
  opacity: .5;
  transition: all .3s ease-in-out;
}

.card:hover {
  opacity: 1;
}