.requirementBanner {
  background-color: #4F575E;
  color: white;
}
.requirementContent {
  position: fixed;
  width: 22%;
}
.MainReqHeader {
  margin: auto;
  margin-top: 5px;
}
.ReqHeaders {
  text-align: left;
  margin-top: 10px;
}

.ReqList {
  text-align: left;
}