h1, h2, h3, h4 {
  text-align: center;
}
.htmlField {
  width: 100%;
  height: 60vh;
  background-color: #4F575E;
  color: white;
}

.successWrapper {
  margin-top: 80px;
}

.copyButton {
  margin-left: 80%;
  margin-bottom: 10px;
}

.copyButton:focus + #htmlText {
  color: black;
}