nav ul li i{
  font-size:20px;
  padding: 5px;
}

nav {
  z-index: 250;
  border-bottom: 1px solid white;

}
nav img{
  padding: 0;
  height: 50px;
}
#navbar{
  padding: 0;
}
.navbar-title{
  font-size: 18px;
}
