.CreateSiteSuccessContainer div p, h1{
  font-size: 1.5em;
  text-shadow: 2px 2px 3px rgba(43, 43, 43, 0.80);
  padding:0;
  margin:0;
}

.CreateSiteSuccessContainer li{
  font-size: 1.25em;
  text-shadow: 2px 2px 3px rgba(43, 43, 43, 0.80);
  padding:0;
  margin:0;
}

.CreateSiteSuccessContainer .title{
  font-size: 3em;
  text-shadow: 2px 2px 3px rgba(43, 43, 43, 0.80);
}

.s-alert-close{
  display: none;
}
.s-alert-box{
  padding:0;
  margin: 0;
}

.loadContainer{
  position: relative;
  top:25vh;
  }

  .s-alert-error{
    height: 100vh;
  }